body {
    background-color: lightgray;
    font-family: Helvetica;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90vh;
    justify-content: center;
  }
  
h1 {
  color:blueviolet;
  background-color: bisque;
  font-size: 72px;
}

h2 {
  background-color: lightslategray;
  font-size: 48px;
}

p {
  font-size: 28px;
}

button {
    color: white;
    font-family: Georgia;
    font-size: 125%;
    border-radius: 4px;
    border: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: lightgray;
    padding: 18px 32px;
    outline: none;
    cursor: pointer;
}

button:hover {
  font-size: 125%;
}

#idTagline {
  font-family: Verdana;
}

#idMain {
  padding-top: 32px;
}

.btnSimple {
  background: green;
}